#loginbutton
{
	font-size:12px;
	height:25;
	width:70;
	padding:2;
	background-color:#5B74A8; color:#FFFFFF;
	border-top:#1A356E;
	border-right-color:#1A356E;
	border-bottom-color:#1A356E;
	border-left-color:#1A356E;
	cursor: pointer;
}

.homeinput
{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signupbutton
{
	background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
	width: 120%;
	height:50px;
	cursor: pointer;
	border-radius: 8px;
}
.signupbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.logintoexisting
{
	font-size:13px;
	height:25;
	width:70;
	padding:2;
	background-color:#5B74A8; color:#FFFFFF;
	border-top:#1A356E;
	border-right-color:#1A356E;
	border-bottom-color:#1A356E;
	border-left-color:#1A356E;
	cursor: pointer;
}

.logintoexisting:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.login{
	background-color: #194280; /* Green */
    border: 1px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
	width: 120%;
	height:50px;
	cursor: pointer;
	border-radius: 8px;
}

.login:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.insideVerticleLine{
	height:150%;
	width:1px;
	background:#55555e;
}
.searchlogo{
	opacity: .5;
	cursor: pointer;
	
}
.searchlogo:hover{
	opacity: 1;
	cursor: pointer;
}
.profilepicture
{
	display: block;
    margin: auto;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
	height: 150px;
	cursor: pointer;
}


.updatepf{
	opacity:.5;
	
}
.updatepf:hover{
	opacity:1;
}
.coverphoto
{
	display: block;
    margin: auto;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 828px;
	height: 315px;
	cursor: pointer;
}

.updatecoverphoto{
	opacity:.2;
	
}

.updatecoverphoto:hover{
	opacity:1;
	
}

.friendpicture
{
	display: block;
    margin: auto;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 110px;
	height: 110px;
	cursor: pointer;
}

.addfriendbutton {
    background-color: #fffffff;
    border: none;
    color: #000000;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

